NodeRed Flows.txt
[{"id":"e63e3261.20b1c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"798075ac.0e276c","type":"ibmiot in","z":"e63e3261.20b1c","authentication":"apiKey","apiKey":"d6e8f318.74a32","inputType":"evt","ruleId":"","deviceId":"DetectGas","applicationId":"","deviceType":"GasSensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"1","x":84,"y":349,"wires":[["c93b5c9b.d0b81","442a400f.479f6","9e9a85af.21b4e8","f7fec15.fe6b34","6da5cfa1.25b86"]]},{"id":"6da5cfa1.25b86","type":"debug","z":"e63e3261.20b1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":471,"y":460,"wires":[]},{"id":"c93b5c9b.d0b81","type":"function","z":"e63e3261.20b1c","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":288.00001525878906,"y":238.00000381469727,"wires":[["3fe4ca13.2d9946","10174bd8.9918f4","f7d64b21.3f1208","28ecc112.ef9a1e"]]},{"id":"442a400f.479f6","type":"function","z":"e63e3261.20b1c","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":287,"wires":[["116ab59f.efc3fa","3d35b18f.f4527e"]]},{"id":"9e9a85af.21b4e8","type":"function","z":"e63e3261.20b1c","name":"Distance","func":"msg.payload=msg.payload.d.distance;\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":328,"wires":[["81b5893a.4b26c8","ac34ac85.7ca8b"]]},{"id":"f7fec15.fe6b34","type":"function","z":"e63e3261.20b1c","name":"SmokePPM","func":"msg.payload=(msg.payload.d.SmokePPM)/1000;\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":366,"wires":[["2bfbee31.42c162","c08f8a89.f07448","f32061e2.9000d"]]},{"id":"3fe4ca13.2d9946","type":"ui_gauge","z":"e63e3261.20b1c","name":"","group":"524ec20a.01647c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":466,"y":189,"wires":[]},{"id":"2bfbee31.42c162","type":"ui_gauge","z":"e63e3261.20b1c","name":"","group":"524ec20a.01647c","order":0,"width":0,"height":0,"gtype":"gage","title":"Smoke","label":"units","format":"{{value}}","min":0,"max":"1.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":449,"y":377,"wires":[]},{"id":"10174bd8.9918f4","type":"switch","z":"e63e3261.20b1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"35","vt":"str"},{"t":"lte","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":579,"y":236,"wires":[["78342354.db455c"],["7c6853f1.ac81ac"]]},{"id":"78342354.db455c","type":"template","z":"e63e3261.20b1c","name":"Too high","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature is too high","output":"str","x":792.9999771118164,"y":199.00000953674316,"wires":[[]]},{"id":"7c6853f1.ac81ac","type":"template","z":"e63e3261.20b1c","name":"Too Low","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature is too low","output":"str","x":767,"y":275,"wires":[["39b047a5.016eb8","ad4d4c0a.fbfa2"]]},{"id":"c08f8a89.f07448","type":"switch","z":"e63e3261.20b1c","name":"Anamoly","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"0.48","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":551.9999618530273,"y":532.9999961853027,"wires":[["2b377d30.686d82"]]},{"id":"2b377d30.686d82","type":"template","z":"e63e3261.20b1c","name":"Fire accident","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"There is some fire accident Alert..Alert","output":"str","x":841.0000839233398,"y":534.0000514984131,"wires":[["39b047a5.016eb8"]]},{"id":"81b5893a.4b26c8","type":"switch","z":"e63e3261.20b1c","name":"Anamoly","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":627.2395629882812,"y":369.01039695739746,"wires":[["10745495.c9ac7b"]]},{"id":"10745495.c9ac7b","type":"template","z":"e63e3261.20b1c","name":"Intrusion","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Intrusion... Alert..Alert","output":"str","x":748.017333984375,"y":461.0104064941406,"wires":[["39b047a5.016eb8","a75eaa48.a40758"]]},{"id":"72bc9b61.948d94","type":"ui_audio","z":"e63e3261.20b1c","name":"Alert","group":"5caae09e.34798","voice":"en-GB","always":true,"x":766.9999809265137,"y":31.999999046325684,"wires":[]},{"id":"812b213f.ba9f6","type":"debug","z":"e63e3261.20b1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":769.9999847412109,"y":99.00000190734863,"wires":[]},{"id":"39b047a5.016eb8","type":"watson-text-to-speech","z":"e63e3261.20b1c","name":"Akhil","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"obuaQzsrZCOu","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":417.00002670288086,"y":71.99999809265137,"wires":[["812b213f.ba9f6","72bc9b61.948d94"]],"inputLabels":["English"],"outputLabels":["Spanish"]},{"id":"f7d64b21.3f1208","type":"ui_text","z":"e63e3261.20b1c","group":"57546967.d0c9a8","order":0,"width":0,"height":0,"name":"","label":"High Temp","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":240,"wires":[]},{"id":"ad4d4c0a.fbfa2","type":"twitter out","z":"e63e3261.20b1c","twitter":"","name":"Tweet","x":1010,"y":320,"wires":[]},{"id":"116ab59f.efc3fa","type":"ui_gauge","z":"e63e3261.20b1c","name":"","group":"524ec20a.01647c","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":260,"wires":[]},{"id":"28ecc112.ef9a1e","type":"ui_text","z":"e63e3261.20b1c","group":"57546967.d0c9a8","order":0,"width":0,"height":0,"name":"","label":"Low Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":360,"wires":[]},{"id":"a75eaa48.a40758","type":"ui_text","z":"e63e3261.20b1c","group":"57546967.d0c9a8","order":0,"width":0,"height":0,"name":"","label":"Intrusion","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":360,"wires":[]},{"id":"f32061e2.9000d","type":"ui_text","z":"e63e3261.20b1c","group":"57546967.d0c9a8","order":0,"width":0,"height":0,"name":"","label":"Anomaly","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":500,"wires":[]},{"id":"3d35b18f.f4527e","type":"ui_switch","z":"e63e3261.20b1c","name":"","label":"Actuate","group":"a71c4b74.f6e848","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":560,"wires":[["33de584e.7b2018"]]},{"id":"33de584e.7b2018","type":"ui_text","z":"e63e3261.20b1c","group":"a71c4b74.f6e848","order":0,"width":0,"height":0,"name":"","label":"Actuator","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":580,"wires":[]},{"id":"ac34ac85.7ca8b","type":"ui_toast","z":"e63e3261.20b1c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"msg.payload","name":"","x":970,"y":580,"wires":[]},{"id":"d6e8f318.74a32","type":"ibmiot","z":"","name":"Gas Sensor Info","keepalive":"60","serverName":"rl4hzp.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"524ec20a.01647c","type":"ui_group","z":"","name":"Akhil","tab":"8a24b1e5.06b26","disp":true,"width":"6","collapse":false},{"id":"5caae09e.34798","type":"ui_group","z":"","name":"Intrusion Detection ","tab":"3e8ca46a.5169bc","disp":true,"width":"6","collapse":false},{"id":"57546967.d0c9a8","type":"ui_group","z":"","name":"Temperature is too high","tab":"9d5873d7.6d0fc","disp":true,"width":"6","collapse":false},{"id":"a71c4b74.f6e848","type":"ui_group","z":"","name":"Humidity","tab":"9d5873d7.6d0fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a24b1e5.06b26","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3e8ca46a.5169bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9d5873d7.6d0fc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]